app = "volleyball-legends-bot-discord"
primary_region = "fra"

[build]

[http_service]
  internal_port = 3000
  auto_start_machines = true
  auto_stop_machines = false
  min_machines_running = 1

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
