name: Bot

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Start Express + Discord Bot
        run: npm start &
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}

      - name: Install cloudflared
        run: |
          sudo mkdir -p /usr/local/bin
          sudo wget -q https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64 -O /usr/local/bin/cloudflared
          sudo chmod +x /usr/local/bin/cloudflared

      - name: Run Cloudflare Tunnel
        run: |
          cloudflared tunnel run ${{ secrets.CLOUDFLARE_TUNNEL_ID }}
        env:
          TUNNEL_TOKEN: ${{ secrets.CLOUDFLARE_TUNNEL_TOKEN }}
